    :root {
    /* Theme 1 */
        /* Backgrounds */
        --theme1-main-background: hsl(222, 26%, 31%);
        --theme1-toggle-background: hsl(223, 31%, 20%);
        --theme1-screen-background: hsl(224, 36%, 15%);
        /* Keys */
        --theme1-key-background: hsl(225, 21%, 49%);
        --theme1-key-shadow: hsl(224, 28%, 35%);
        --theme1-red-key-background: hsl(6, 63%, 50%);
        --theme1-red-key-shadow: hsl(6, 70%, 34%);
        --theme1-orange-key-background: hsl(30, 25%, 89%);
        --theme1-orange-key-shadow: hsl(28, 16%, 65%);
        /* Text */
        --theme1-dark-blue-text: hsl(221, 14%, 31%);
        --white-text: hsl(0, 0%, 100%);

    /* Theme 2 */
        /* Backgrounds */
        --theme2-main-background:  hsl(0, 0%, 90%);
        --theme2-toggle-background: hsl(0, 5%, 81%);
        --theme2-screen-background: hsl(0, 0%, 93%);
        /* Keys */
        --theme2-key-background: hsl(185, 42%, 37%);
        --theme2-key-shadow: hsl(185, 58%, 25%);
        --theme2-orange-key-background:  hsl(25, 98%, 40%);
        --theme2-orange-key-shadow: hsl(25, 99%, 27%);
        --theme2-yellow-key-background: hsl(45, 7%, 89%);
        --theme2-yellow-key-shadow:  hsl(35, 11%, 61%);
        /* Text */
        --theme2-dark-yellow-text: hsl(60, 10%, 19%);

    /* Theme 3 */
        /* Backgrounds */
        --theme3-main-background:   hsl(281, 89%, 26%);
        --theme3-toggle-background: hsl(268, 71%, 12%);
        --theme2-screen-background: hsl(268, 71%, 12%);
        /* Keys */
        --theme3-key-background: hsl(281, 89%, 26%);
        --theme3-key-shadow: hsl(285, 91%, 52%);
        --theme3-cyan-key-background:  hsl(176, 100%, 44%);
        --theme3-cyan-key-shadow: hsl(177, 92%, 70%);
        --theme3-violet-key-background: hsl(268, 47%, 21%);
        --theme3-magenta-key-shadow:  hsl(290, 70%, 36%);
        /* Text */
        --theme3-light-yellow-text: hsl(52, 100%, 62%);
        --theme3-dark-blue-text:  hsl(198, 20%, 13%);
    }

    * {
        /* border: 2px solid yellow; */
    }
    
    html {
        font-family: 'League Spartan';
    }

    body {
        background-color: var(--theme1-main-background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        display: flex;
        justify-content: space-between;
    }
    .title {
        color: var(--white-text);
    }
    .theme-selector {
        display: flex;
        list-style-type: none;
    }
    .calculator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 800px;
    }
    
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }